<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <connectionStrings>
    <add name="TestLocalDB" providerName="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=[database];Trusted_Connection=True;" />
    <add name="TestAzureStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=[account];AccountKey=[key]" />
  </connectionStrings>
  <dataConfiguration defaultDatabase="TestLocalDB" />
</configuration>